<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ce5ae238-e025-4445-813d-58a41d352352" Alias="Hello World Package" Level="2">
  <Info>
    <Name>Hello World Package</Name>
    <EditorAlias>HelloWorldPackage</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Test</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>