<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9de508a2-5291-48cb-8933-07b89d8b55c4" Alias="testPage" Level="1">
  <Info>
    <Name>Test Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>TestPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c6cb0ad4-015b-4793-b515-d1dede6ad593">TestPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e0fbdcb8-1acf-4e51-b54d-e1e67f6e79fe</Key>
      <Name>Hello world</Name>
      <Alias>helloWorld</Alias>
      <Definition>ce5ae238-e025-4445-813d-58a41d352352</Definition>
      <Type>HelloWorldPackage</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="test">Test</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>756ea3a0-dbc3-42e4-b2b1-03c27b6edb07</Key>
      <Caption>Test</Caption>
      <Alias>test</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>